@model Maintenance.Models.Question

<section id="@Model.Class" class="question fullpage">
	<input type="hidden" name="@Model.Class" value="3" />
	<div class="container">
		<div class="row  questionbox">
			<div class="col-sm-12 text-center ">
				<h1>@Model.Title1</h1>
				@Model.Desc1
				<br />
				@if (@Model.IsButton) {
			
					foreach(var q in Model.ButtonText)
					{
						<a  class="btn btn-dark btn-lg btn-question"  data-value="@q.Value" href="Home/Modal?id=@Model.QuestionId&response=@q.Value" data-toggle="modal" data-target="#@Model.ModalName">
							@q.Text
						</a>
					}
				}else{
					<div class="question-slider">
						<input class="slider" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-handle="square" data-slider-lower="@Model.LowerText" data-slider-upper="@Model.UpperText"/>
						<br />
					</div>
				
					<a  class="btn btn-dark btn-lg btn-select" data-toggle="modal" data-target="#@Model.ModalName" href="Home/Modal?id=@Model.QuestionId&response=3">
						Select
					</a>
				}
				
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="@Model.ModalName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-next="#@Model.NextItem">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>
	
</section>