@model Maintenance.Models.Response

@{
    ViewBag.Title = "ShowResponse";
}

<div class="container voffset-5">

	<div class="row">
		
		<div class="col-sm-12">
			<h2>Your ideal maintenance program</h2>
			<p>Thank you for taking the quiz!</p><p>Hopefully you have gained some insight about your own maintenance practices and whether they are the best fit for your industry or operation.</p>

<p>Remember that the future of effective maintenance will involve a maintenance strategy that is tailor-made to suit the needs of your business, and continually reviewed for its appropriateness.</p>

<p>While maintenance trends will vary depending on the industry, three key trends are emerging. Maintenance must: have <b>state of the art management, be approached holistically</b> and have a <b>clear strategy</b> that is implemented from ground floor to top level management. To stay ahead of the game these three key aspect of future maintenance should be implemented now.</p>

		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12 col-sm-12 center-block">
		<canvas id = "radarChart"></canvas>
		</div>	
	</div>
</div>

@section Scripts
{
	@Scripts.Render("~/bundles/Chart")
	<script>
		$(function() {
			var data = {
				labels: ["Structure", "Attitude", "Review Policy", "Outsourcing", "Integration", "Data Collection", "Perception", "Environmental Impact", "Life Cycle Awareness"],
				datasets: [
					{
						label: "Your Maintenance System",
						fillColor: "rgba(220,220,220,0.3)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(220,220,220,1)",
						data: [@Model.Question1, @Model.Question3, @Model.Question11, @Model.Question4, @Model.Question5, @Model.Question6, @Model.Question7, @Model.Question9, @Model.Question10]
					}
				]
			};

			var ctx = $("#radarChart").get(0).getContext("2d");

			var radarChart = new Chart(ctx).Radar(data,
				{
					responsive: true,
					pointLabelFontSize: 16,
					scaleOverride: true,
					scaleSteps: 5,
					scaleStepWidth: 1,
					scaleStartValue: 0,
				}
			);
		});
	</script>
}

