@model Maintenance.Models.Response

@{
    ViewBag.Title = "ShowResponse";
}

<div class="container voffset-5">
	<h2>Your ideal maintenance program</h2>
	<div class="row">
			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question1)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question1)
			</div>

			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question2)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question2)
			</div>

			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question3)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question3)
			</div>

			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question4)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question4)
			</div>

			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question5)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question5)
			</div>

			<div class="display-label">
				 @Html.DisplayNameFor(model => model.Question6)
			</div>
			<div class="display-field">
				@Html.DisplayFor(model => model.Question6)
			</div>
	</div>
	<div class="row">
		This<sup><a href="http://www.google.com" data-toggle="tooltip" data-placement="top" title="Some tooltip text!">This</a></sup>
	</div>


</div>

